*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --body: #eef0f2;
    --font: #13293d; 
    --section:#ffaf87; 
    --elements: #0d7e83; 
}

/* start global class */

body{
    background-color: var(--body);
}

/* end global class */

/* start template class */

.plate{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid var(--section);
    border-radius: 28px;
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(35,1fr);
    justify-items: center;
}

.inside--box{
    width: 21px;
    height: 21px;
    background: var(--elements);
    border-radius: 7px;
    margin: 1.5px;
    display: inline-block;
    opacity: 0.85;
    transition: 0.1s;
}

/* end template class */